@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #DCC8AB;
  --foreground: #541519;
}

body {
  color: var(--foreground);
  background: var(--background);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.shadower {
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.t-shadower {
  text-shadow: 5px 5px 5px #000;
}
